In [33]:
import parse_schedule as ps
import pandas as pd
import numpy as np

In [41]:
file_name = 'schedules_standard'
schedule = ps.parse_schedule(file_name)
schedule[np.inf]

[[{'times': [10, 36, 55, 82, 112, 127, 156, 11, 37, 56, 85, 113, 128, 157],
   'locs': ['public_1',
    'public_2',
    'public_3',
    'public_1',
    'public_3',
    'public_2',
    'public_4',
    'home',
    'home',
    'home',
    'home',
    'home',
    'home',
    'home'],
   'type': 'normal_1'},
  {'times': [10, 31, 57, 85, 107, 136, 152, 13, 33, 59, 89, 110, 139, 156],
   'locs': ['public_1',
    'public_2',
    'public_1',
    'public_1',
    'public_3',
    'public_4',
    'public_4',
    'home',
    'home',
    'home',
    'home',
    'home',
    'home',
    'home'],
   'type': 'normal_2'}],
 [0.5, 0.5]]

In [45]:
#pd.DataFrame(columns =['time','location'], data=)
dfs = []
for key in schedule:
    try:
        df=pd.DataFrame(data=schedule[key][0][0])
    except:
        df=pd.DataFrame(data=schedule[np.inf][0][0])
    df.sort_values('times').to_csv('schedule'+str(key)+'.csv')

In [43]:
df

    times      locs      type
0      10  public_1  normal_1
1      36  public_2  normal_1
2      55  public_3  normal_1
3      82  public_1  normal_1
4     112  public_3  normal_1
5     127  public_2  normal_1
6     156  public_4  normal_1
7      11      home  normal_1
8      37      home  normal_1
9      56      home  normal_1
10     85      home  normal_1
11    113      home  normal_1
12    128      home  normal_1
13    157      home  normal_1